{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

{% include "menu.html" %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4 text-success" data-aos="fade-slide-up" data-aos-duration="2000">🔒
                        Cambiar <b>Contraseña</b></h2>

                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label fw-semibold">
                                {% if field.label == "Old password" %}
                                <b>Contraseña Actual</b>
                                {% elif field.label == "New password" %}
                                <b>Nueva Contraseña</b>
                                {% elif field.label == "New password confirmation" %}
                                <b>Confirmar Nueva Contraseña</b>
                                {% else %}
                                {{ field.label }}
                                {% endif %}
                            </label>
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                                class="form-control">

                            {% if field.errors %}
                            <div class="text-danger mt-1 small">
                                {{ field.errors.0 }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-success w-100 fw-bold py-2">
                            🔄 Actualizar Contraseña
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}