{% extends 'base.html' %}
{% block content %}

{% include "menu.html" %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-success" data-aos="fade-slide-up" data-aos-duration="2000">Listado de <b>Préstamos</b></h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-success">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Dispositivo</th>
                    <th scope="col">Serial</th>
                    <th scope="col">Fecha de Préstamo</th>
                    <th scope="col">Eliminar Préstamo</th>
                </tr>
            </thead>
            <tbody>
                {% for prestamo in page_obj %}
                <tr>
                    <td>{{ prestamo.usuario.username }}</td>
                    <td>{{ prestamo.dispositivo.nombre }}</td>
                    <td>{{ prestamo.dispositivo.serial }}</td>
                    <td>{{ prestamo.fecha_prestamo|date:"d/m/Y H:i" }}</td>
                    <td>
                        {% if user.is_authenticated and perms.dispositivo.editar_prestamo %}
                        <!-- Botón de eliminar con enlace a la vista de eliminación -->
                        <a href="{% url 'eliminar_prestamos' prestamo_id=prestamo.id %}" class="btn btn-danger rounded-pill" onclick="return confirm('¿Estás seguro de que deseas eliminar este préstamo?');">
                            Eliminar
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay préstamos registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" title="Primera página"><i class="fas fa-angle-double-left"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}" title="Página anterior"><i class="fas fa-chevron-left"></i></a>
                {% endif %}
        
                <span class="current">
                    Página <b>{{ page_obj.number }}</b> de <b>{{ page_obj.paginator.num_pages }}</b>
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" title="Página siguiente"><i class="fas fa-chevron-right"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" title="Última página"><i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}
