{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Préstamo</title>
</head>

<body>
    {% include "menu.html" %}
    <div class="container mt-5">
        <!-- Título de la página -->
        <div class="text-center mb-4">
            <h2 class="display-4 text-success">Registrar <b>Préstamo</b></h2>
            <p class="lead text-muted">Complete el formulario para registrar un préstamo de dispositivo.</p>
        </div>
        {% if user.is_authenticated and perms.dispositivo.editar_prestamo %}
        <!-- Formulario -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            
                            <!-- Campos del formulario -->
                            <div class="form-group mb-3">
                                <label for="id_usuario" class="form-label"><b>Usuario</b></label>
                                {{ form.usuario }}
                            </div>

                            <div class="form-group mb-3">
                                <label for="id_dispositivo" class="form-label"><b>Dispositivo</b></label>
                                {{ form.dispositivo }}
                            </div>

                            <!-- Botón de enviar -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-lg rounded-pill">Registrar</button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    {% include "footer.html" %}

{% endblock %}

</body>

</html>
