{% extends "base.html" %} 
{% block content %} 
{% load crispy_forms_tags %} 
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "menu.html" %}
    <div class="container py-5">
        <h1>Ingresar sesión</h1>
        <form method="POST"> 
            {% csrf_token %} 
            {{ login_form|crispy }} 

                <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>

            
            <div class="text-center">
                <p class="text-muted mb-1">Si no tienes una cuenta, 
                    <a href="/dispositivo/templates/registration/registro" class="text-decoration-none">
                        <i class="fas fa-user-plus"></i> <b>regístrate aquí</b>
                    </a>.
                </p>
                
                <p class="text-muted mb-1">¿Se te olvidó la contraseña? 
                    <a href="{% url 'password_reset' %}" class="text-decoration-none">
                        <i class="fas fa-lock"></i> <b>Pincha acá</b>
                    </a>
                </p>
                
            </div>

        </form>

    </div>

    {% include "footer.html" %}
    {% endblock content %}
</body>
</html>