{% load i18n %}

<p>{% trans "Has solicitado restablecer tu contraseña para la cuenta de usuario en" %} {{ domain }}.</p>

<p>{% trans "Por favor, haz clic en el siguiente enlace para restablecer tu contraseña:" %}</p>

<p><a href="{{ protocol }}://{{ domain }}{{ url }}">{% trans "Restablecer la contraseña" %}</a></p>

<p>{% trans "Si no solicitaste un restablecimiento de contraseña, por favor ignora este correo." %}</p>

<p>{% trans "Tu nombre de usuario es:" %} {{ user.username }}</p>

<p>{% trans "¡Gracias por usar nuestro sitio!" %}</p>

<p>{% trans "El equipo de" %} {{ domain }}</p>
