{% extends 'base.html' %}
{% block content %}

{% include "menu.html" %}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4 text-success">Perfil de <b>Usuario</b></h1>
        <p class="text-muted"><b>Información de tu cuenta</b></p>
    </div>
    
    <div class="card shadow-lg mx-auto" style="max-width: 450px;">
        <div class="card-body text-center">
            <!-- Mostrar la imagen del perfil -->
            {% if profile.foto_perfil %}
                <img src="{{ profile.foto_perfil.url }}" class="rounded-circle border mb-4" 
                     style="width: 150px; height: 150px;" alt="Foto de perfil">
            {% else %}
                <div class="d-flex justify-content-center align-items-center rounded-circle bg-light text-muted mb-4" 
                     style="width: 150px; height: 150px; font-size: 3rem;">
                    <i class="bi bi-person"></i>
                </div>
            {% endif %}
            
            <h5 class="card-title"><strong>{{ request.user.username }}</strong></h5>
                <p class="card-text text-secondary mb-4"><strong>Email:</strong> {{ request.user.email }}</p>
                <p class="card-text text-secondary mb-4"><strong>Nombre:</strong> {{ request.user.first_name|add:" "}}{{ request.user.last_name }}</p>
                {% if profile %}
                    <p class="card-text text-secondary mb-4"><strong>Departamento:</strong> {{ profile.departamento }}</p>
                {% else %}
                    <p class="card-text text-secondary mb-4">No hay departamento asignado.</p>
                {% endif %}

            
            <a href="{% url 'editar_perfil' %}" class="btn btn-success rounded-pill px-4">
                <i class="bi bi-pencil-square me-2"></i>Editar Perfil
            </a>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}

