{% extends 'base.html' %}
{% block content %}

{% include "menu.html" %}
<div class="container mt-5">
    <h1 class="text-center text-success" data-aos="fade-slide-up" data-aos-duration="2000">Crear <b>Producto</b></h1>
    <div class="text-end mt-4">
        <a href="{% url 'cargar_productos_excel' %}" class="btn btn-outline-success btn-lg px-4 py-2 rounded-pill"><b>Importar desde Excel</b></a>
    </div>
    
    <!-- Asegúrate de agregar enctype="multipart/form-data" -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nombre" class="form-label"><b>Nombre</b></label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="numero_serie" class="form-label"><b>Número de Serie</b></label>
            <input type="text" class="form-control" id="numero_serie" name="numero_serie" readonly>
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label"><b>Cantidad</b></label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" required>
        </div>
        <div class="mb-3">
            <label for="bodega" class="form-label"><b>Bodega</b></label>
            <select class="form-control" id="bodega" name="bodega" required>
                {% for bodega in bodegas %}
                <option value="{{ bodega.id }}">{{ bodega.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="precio_unitario" class="form-label"><b>Precio Unitario</b></label>
            <input type="number" step="0.01" class="form-control" id="precio_unitario" name="precio_unitario" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label"><b>Descripción</b></label>
            <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
        </div>
        <div class="mb-3">
            <label for="tipo_descripcion" class="form-label"><b>Tipo de Producto</b></label>
            <select class="form-control" id="tipo_descripcion" name="tipo_descripcion" required>
                <option value="" disabled selected>Seleccione un tipo</option>
                <option value="aseo">ASEO</option>
                <option value="oficina">OFICINA</option>
                <option value="ferreteria">FERRETERÍA</option>
                <option value="lab_electronica">LAB. ELECTRÓNICA</option>
                <option value="lab_telecomunicaciones">LAB. TELECOMUNICACIONES</option>
                <option value="herramientas">HERRAMIENTAS</option>
                <option value="toner_tintas">TONER Y TINTAS</option>
            </select>
        </div>
        
        <!-- Nuevo campo para la imagen -->
        <div class="mb-3">
            <label for="imagen" class="form-label"><b>Imagen del Producto</b></label>
            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*">
        </div>
        
        <button type="submit" class="btn btn-success rounded-pill"><b>Guardar</b></button>
    </form>
</div>

{% include "footer.html" %}
{% endblock %}
