{% extends 'base.html' %}
{% block content %}

{% include "menu.html" %}
<div class="container my-5">
    <h1 class="text-center mb-4 text-success ">Lista de <b>Productos</b></h1>

    <form method="GET" class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" name="nombre" placeholder="Filtrar por nombre" value="{{ nombre }}">
            </div>
            <div class="col-md-4">
                <select class="form-control" name="tipo_descripcion">
                    <option value="">Seleccione tipo de producto</option>
                    <option value="aseo" {% if tipo_descripcion == "aseo" %}selected{% endif %}>ASEO</option>
                    <option value="oficina" {% if tipo_descripcion == "oficina" %}selected{% endif %}>OFICINA</option>
                    <option value="ferreteria" {% if tipo_descripcion == "ferreteria" %}selected{% endif %}>FERRETERÍA</option>
                    <option value="lab_electronica" {% if tipo_descripcion == "lab_electronica" %}selected{% endif %}>LAB. ELECTRÓNICA</option>
                    <option value="lab_telecomunicaciones" {% if tipo_descripcion == "lab_telecomunicaciones" %}selected{% endif %}>LAB. TELECOMUNICACIONES</option>
                    <option value="herramientas" {% if tipo_descripcion == "herramientas" %}selected{% endif %}>HERRAMIENTAS</option>
                    <option value="toner_tintas" {% if tipo_descripcion == "toner_tintas" %}selected{% endif %}>TONER Y TINTAS</option>
                </select>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary ">Filtrar</button>
            </div>
        </div>
    </form>

    <!-- Tabla de productos -->
    <table class="table table-striped table-bordered">
        <thead class="table-success">
            <tr>
                <th><b>Nombre</b></th>
                <th><b>Código</b></th>
                <th><b>Descripción</b></th>
                <th><b>Tipo</b></th>
                <th><b>Bodega</b></th>
                <th><b>Cantidad</b></th>
                <th><b>Acciones</b></th>
            </tr>
        </thead>
        <tbody>
            {% for producto in page_obj %}
            <tr>
                <td style="width: 10%">{{ producto.nombre }}</td>
                <td style="width: 13%">{{ producto.numero_serie }}</td>
                <td style="width: 5%">{{ producto.descripcion}}</td>
                <td style="width: 5%">{{ producto.tipo_descripcion}}</td>
                <td style="width: 5%">{{ producto.bodega.nombre}}</td>
                <td style="width: 5%"><b>{{ producto.cantidad }}</b></td>
                <td style="width: 57%">

                {% if user.is_authenticated and perms.producto.editar_prestamo %}
                    <a href="{% url 'prestar_producto' producto.id %}" class="btn btn-success btn-m rounded-pill me-2"><b>Prestar</b></a>
                    <a href="{% url 'prestamos_producto' producto.id %}" class="btn btn-info btn-m rounded-pill me-2"><b>Movimientos</b></a>
                    <a href="{% url 'agregar_stock' producto.id %}" class="btn btn-dark btn-m rounded-pill"><b>Agregar stock</b></a>
                    {% endif %}
                    <a href="{% url 'solicitar_producto' producto.id %}" class="btn btn-warning rounded-pill"><b>Solicitar</b></a>
                    <a href="{% url 'listar_notificaciones' %}" class="btn btn-primary rounded-pill"><b>Revisar solicitudes</b></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" title="Primera página"><i class="fas fa-angle-double-left"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}" title="Página anterior"><i class="fas fa-chevron-left"></i></a>
            {% endif %}
    
            <span class="current">
                Página <b>{{ page_obj.number }}</b> de <b>{{ page_obj.paginator.num_pages }}</b>
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" title="Página siguiente"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" title="Última página"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}

