{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include "menu.html" %}
<!-- Agregando el CSS de AOS -->
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
<style>
    #condensador-carga {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
        opacity: 1;
        pointer-events: none;
        animation: fadeInOut 2s ease-out forwards;
    }

    .carga-texto {
        text-align: center;
        color: #fff;
        font-size: 24px;
    }

    .condensador {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        background: linear-gradient(135deg, #fff, #4e74b8);
        animation: flujo 5.5s infinite alternate;
    }

    .carga-texto p {
        margin-top: 15px;
        font-size: 30px;
        font-weight: bold;
    }

    /* Animación de condensador de flujo */
    @keyframes flujo {
        0% {
            transform: scale(0.5);
            opacity: 1;
        }

        100% {
            transform: scale(5.5);
            opacity: 0.2;
        }
    }

    /* Animación de desvanecimiento */
    @keyframes fadeInOut {
        0% {
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
</style>
</head>

<body>
<!-- Animación Condensador de Flujo -->
<div id="condensador-carga">
    <div class="carga-texto">
        <span class="condensador"></span>
        <p>Lista de Productos</p>
    </div>
</div>

<div class="container my-5">
    <h1 class="text-center mb-4 text-success" data-aos="fade-slide-up" data-aos-duration="2000">Lista de <b>Productos</b></h1>

    <form method="GET" class="mb-3">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <input type="text" class="form-control" name="nombre" placeholder="Filtrar por nombre" value="{{ nombre }}">
            </div>
            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <select class="form-control" name="bodega">
                    <option value="">Seleccione bodega</option>
                    <option value="Pañol" {% if tipo_bodega == "Pañol" %}selected{% endif %}>PAÑOL</option>
                    <option value="Bodega Audio" {% if tipo_bodega == "Bodega Audio" %}selected{% endif %}>BODEGA AUDIO</option>
                </select>
            </div>
            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <select class="form-control" name="tipo_descripcion">
                    <option value="">Seleccione tipo de producto</option>
                    <option value="aseo" {% if tipo_descripcion == "aseo" %}selected{% endif %}>ASEO</option>
                    <option value="oficina" {% if tipo_descripcion == "oficina" %}selected{% endif %}>OFICINA</option>
                    <option value="ferreteria" {% if tipo_descripcion == "ferreteria" %}selected{% endif %}>FERRETERÍA</option>
                    <option value="lab_electronica" {% if tipo_descripcion == "lab_electronica" %}selected{% endif %}>LAB. ELECTRÓNICA</option>
                    <option value="lab_telecomunicaciones" {% if tipo_descripcion == "lab_telecomunicaciones" %}selected{% endif %}>LAB. TELECOMUNICACIONES</option>
                    <option value="herramientas" {% if tipo_descripcion == "herramientas" %}selected{% endif %}>HERRAMIENTAS</option>
                    <option value="toner_tintas" {% if tipo_descripcion == "toner_tintas" %}selected{% endif %}>TONER Y TINTAS</option>
                </select>
            </div>
            <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-primary w-100">Filtrar</button>
            </div>
        </div>
    </form>
    

    <!-- Nueva estructura en tarjetas -->
    <div class="row">
        {% for producto in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <!-- Imagen del producto -->
                {% if producto.imagen and producto.imagen.url %}
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}" style="height: 200px; object-fit: cover;">
                {% else %}
                    <img src="{% static 'img/default-placeholder.png' %}" class="card-img-top" alt="Imagen no disponible" style="height: 200px; object-fit: cover;">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title text-primary">{{ producto.nombre }}</h5>
                    <p class="card-text"><b>Código:</b> {{ producto.numero_serie }}</p>
                    <p class="card-text"><b>Descripción:</b> {{ producto.descripcion }}</p>
                    <p class="card-text"><b>Tipo:</b> {{ producto.tipo_descripcion }}</p>
                    <p class="card-text"><b>Bodega:</b> {{ producto.bodega.nombre }}</p>
                    <p class="card-text"><b>Cantidad:</b> <span class="badge bg-success">{{ producto.cantidad }}</span></p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    {% if user.is_authenticated and perms.producto.editar_prestamo %}
                        <a href="{% url 'prestar_producto' producto.id %}" class="btn btn-success btn-sm">Prestar</a>
                        <a href="{% url 'prestamos_producto' producto.id %}" class="btn btn-info btn-sm">Movimientos</a>
                        <a href="{% url 'agregar_stock' producto.id %}" class="btn btn-dark btn-sm">Stock</a>
                    {% endif %}
                    <a href="{% url 'solicitar_producto' producto.id %}" class="btn btn-warning btn-sm">Solicitar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" title="Primera página"><i class="fas fa-angle-double-left"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}" title="Página anterior"><i class="fas fa-chevron-left"></i></a>
            {% endif %}
    
            <span class="current">
                Página <b>{{ page_obj.number }}</b> de <b>{{ page_obj.paginator.num_pages }}</b>
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" title="Página siguiente"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" title="Última página"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>

{% include "footer.html" %}
<!-- Agregando AOS.js -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
    // Ocultar el mensaje de carga después de un tiempo (3 segundos)
    window.addEventListener("load", function () {
        setTimeout(function () {
            document.getElementById("condensador-carga").style.display = "none";
        }, 3000);
    });
</script>
{% endblock %}

