{% extends 'base.html' %}

{% block content %}

{% include "menu.html" %}

<div class="container mt-5">
    <h2 class="text-center text-success  mb-4">Panel de Solicitudes <b>de Productos</b></h2>

    {% if user.is_staff %}
    <table class="table table-striped table-hover">
        <thead class="table-success">
            <tr>
                <th>Producto</th>
                <th>Cliente</th>
                <th>Mensaje</th>
                <th>Fecha</th>
                <th>Leído</th>
                <!--<th>Aprobado</th>-->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for notificacion in page_obj %}
                <tr>
                    <td>{{ notificacion.producto.nombre }}</td>
                    <td>{{ notificacion.usuario.username }}</td>
                    <td>{{ notificacion.mensaje }}</td>
                    <td>{{ notificacion.fecha_creacion }}</td>
                    <td>
                        {% if notificacion.leida %}
                            <span class="badge bg-success text-white fs-5 py-2 px-2 rounded-pill"><b>Leído</b></span>
                        {% else %}
                            <span class="badge bg-warning text-dark fs-5 py-2 px-2 rounded-pill"><b>No leído</b></span>
                        {% endif %}
                    </td>
                    <!--<td>
                        {% if notificacion.aprobada %}
                            <span class="badge bg-success text-white fs-5 py-2 px-2 rounded-pill"><b>Aprobada</b></span>
                        {% else %}
                        <span class="badge bg-warning text-dark fs-5 py-2 px-2 rounded-pill"><b>Pendiente</b></span>
                        {% endif %}
                    </td>-->
                    <td>
                        {% if notificacion.aprobada == False %}
                        <a href="{% url 'aprobar_solicitud' notificacion.id %}" class="btn btn-success fs-7 py-2 px-2 rounded-pill"><b>Aprobar</b></a>
                        {% endif %}
                        <a href="{% url 'marcar_como_leido' notificacion.id %}" class="btn btn-primary fs-7 py-2 px-2 rounded-pill"><b>Marcar como leído</b></a>
                        <a href="{% url 'generar_voucher' notificacion.id %}" class="btn btn-secondary fs-7 py-2 px-2 rounded-pill">Generar Voucher</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" title="Primera página"><i class="fas fa-angle-double-left"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}" title="Página anterior"><i class="fas fa-chevron-left"></i></a>
            {% endif %}
    
            <span class="current">
                Página <b>{{ page_obj.number }}</b> de <b>{{ page_obj.paginator.num_pages }}</b>
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" title="Página siguiente"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" title="Última página"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <div class="alert alert-warning mt-4">
        <p>No tienes permisos para ver las solicitudes.</p>
    </div>
{% endif %}
</div>

{% include "footer.html" %}

{% endblock %}
